{% extends "global_layout.html" %}

{% block title %}
Answer Questionnaire
{% endblock title %}

{% block content %}
<br>
<form id="questionnaireForm" style="text-align: center; padding: 10px 20px;">
    <label for="questionnaireID">Enter Questionnaire ID:</label>
    <input type="text" id="questionnaireID" placeholder="This field is required" name="questionnaireID" required>
</form>

<br>
<div class="card" id="card-container">
            
    <div class="card-body" id="card">
        <div class="table-responsive"> 
        </div>
    </div>
    
</div>

<br/>

<script src="../templates/qqselect.js"></script>
{% endblock content %}