{% extends "global_layout.html" %}

{% block title %}
Answer Questionnaire
{% endblock title %}


{% block content %}
<script src="../templates/qqanswer.js"></script>
<div id="header">

</div>
<script>
    //call after page loaded
    window.onload = display(); 
</script>
<div class="card" id="card-container">         
    <div class="card-body" id="card">
        <div class="table-responsive"> 
            <div>
                <button id="secondButton" class="btn btn-danger"  onclick=" get()"
                style="margin: 0 auto; display: block;">Begin</button>
            </div>
        </div>
    </div>
</div>
<br/>






{% endblock content %}