{% extends "global_layout.html" %}

{% block title %}
Answer Questionnaire
{% endblock title %}

{% block content %}
<br>
<form id="questionnaireForm" style="text-align: center; padding: 10px 20px;">
    <label for="questionnaireID">Enter Questionnaire ID:</label>
    <input type="text" id="questionnaireID" name="questionnaireID" required>
</form>

<button class="btn btn-danger" onclick="submitForm()"
style="margin: 0 auto; display: block;">Answer Questionnaire</button><br/>

{% endblock content %}