{% extends "global_layout.html" %}

{% block title %}
Flow information
{% endblock title %}

{% block content %}
<script src="../templates/qqflow.js"></script>
<!-- all other templates are to be rendered "within" the following block -->
<h1 style="font-size: 1.5em;">Specify the flow of the questionnaire</h1>
<div id="questionsContainer"></div><br>
<script>
    //call after page loaded
    window.onload = displayQuestions(); 
</script>
<button id="submitButton" onclick="submitQnext()">Submit</button>
<br />
<div id="output"></div>
{% endblock content %}